<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nz.co.plink.employeedirectory"
        versionCode = "10"
        version     = "1.0.4">
 
    <name>Employee Directory</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://plink.co.nz" email="jeremy@plink.co.nz">
        Jeremy Banks
    </author>

    <preference name="fullscreen" value="true"/>
     
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
    <gap:plugin name="org.apache.cordova.camera"/>
 
</widget>
